<h1>Create a new Question</h1>


  <form action='/questions' method="POST" id="question_form">
  <input type="text" name="question[title]" placeholder="Title">
  <input type="submit" name="Ask Question!">
  </form>
  <br>
  <textarea rows="4" cols="50" name="question[question]" form="question_form">Enter question here...</textarea>